if BOARD_51NB_X210

config BOARD_SPECIFIC_OPTIONS
	def_bool y
	select SYSTEM_TYPE_LAPTOP
	select BOARD_ROMSIZE_KB_8192
	select HAVE_ACPI_RESUME
	select HAVE_ACPI_TABLES
	select SOC_INTEL_KABYLAKE
	select SOC_INTEL_COMMON_BLOCK_HDA_VERB
	select NO_POST

select MAINBOARD_USES_FSP2_0
	select SPD_READ_BY_WORD

config IRQ_SLOT_COUNT
	int
	default 18

config MAINBOARD_VENDOR
	string
	default "51NB"

config MAINBOARD_FAMILY
	string
	default "X210"

config MAINBOARD_PART_NUMBER
	string
	default "X210"

config MAINBOARD_VERSION
	string
	default "1.0"

config MAINBOARD_DIR
	string
	default "51nb/x210"

config DEVICETREE
	string
	default "devicetree.cb"

config MAX_CPUS
	int
	default 8

config VGA_BIOS_ID
	string
	default "8086,5917"

config DIMM_MAX
	int
	default 2

config DIMM_SPD_SIZE
	int
	default 512

config CPU_MICROCODE_CBFS_LEN
	hex
	default 0x18000

config CPU_MICROCODE_CBFS_LOC
	hex
	default 0xFFE115A0

config CBFS_SIZE
	hex
	default 0x59fe00

config FMDFILE
	string
	default "src/mainboard/$(CONFIG_MAINBOARD_DIR)/board.fmd"
endif
